{% extends 'base.html' %}

{% block title %}
    Tasks
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1>{{ show_todoitem.name }}</h1>
            <p>
                <a href="{% url 'todolist_update' show_todoitem.id %}">Update</a>
            </p>
            <p>
                <a href="{% url 'todolist_delete' show_todoitem.id %}">Delete</a>
            </p>
            <p>
                <a href="{% url 'todoitem_create' show_todoitem.id %}">Create new item</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in show_todoitem.todoitem.all %}
                    <tr>
                        <td>
                            <a href="{% url 'todoitem_update' item.id %}">{{ item.task }}</a>
                        </td>
                        <td>{{ item.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
