{% extends 'base.html' %}

{% block title %}
    Todo List
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
                <a href="{% url 'todolist_create' %}">Create a new list</a>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todolist_list %}
                        <tr>
                            <td>
                                <a href="{% url 'show_todoitem' item.id %}">{{ item.name }}</a>
                            </td>
                            <td>{{ item.todoitem.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
