{% extends 'base.html' %}

{% block title %}
    Update
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1>Update a list</h1>
            <form>
                {% csrf_token %}
                {{ form.as_p }}
                <button>Update</button>
            </form>
        </div>
    </main>
{% endblock content %}
